<nav>
    <a href="/">Profile</a>
    <% if(user) { %>
    <a href="/books">View Books</a>
    <a href="/bookclubs">View Book Clubs</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>
