<footer>
    <p>Connect with us:</p>
    <div class="social-icons">
      <a href="https://facebook.com"  target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://linkedin.com" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
</footer>