body {
  min-height: 100vh;
  background-image: url('/images/books.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color:white; 
    padding:20px; 
    text-align:center;
}

  footer a {
    text-decoration: none;
    margin: 0 10px;
    color: white;
}

/* .bookclub-actions {
  display: inline-block;
} */

.book-item {
  display: list-item;
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: disc;
  margin-left: 20px;
}

.same-line{
  
}