body {
  min-height: 100vh;
  background-image: url('/images/books.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color:white; 
    padding:20px; 
    text-align:center;
  }